# Database
DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=paysight_development
DB_NAME_TEST=paysight_test

# Rails
RAILS_MAX_THREADS=5
RAILS_ENV=development

# CORS
CORS_ORIGINS=http://localhost:3001
